html{
  
}
body{


}

.Container{
  
}

header{
  background-color: aquamarine;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.colP{
  background-color: black;
  margin-left: 20px; 
}

h3{
  margin: 30px;
}
.botaoAdd{
  margin-top: 10px;
}

footer{
  background-color: aquamarine;
  width: 100%;
  height: 50px;
  margin-top: 20px;


  
}